<h3 class = "h3 text-center text-success" id = "h3"><b>{{TITLE}}</b></h3>


<div class = "row">
	<div class = "col-md-6">
		<h3 class = "h5 text-center text-success" id = "h5"><b>CREATE NEW EVENT</b></h5>
		{{#if createeventsuccess}}
		<div class = "alert alert-success">
		{{createeventsuccess}}
		</div>
		{{/if}}
		{{#if createeventerror}}
		<div class = "alert alert-error">
		{{createeventerror}}
		</div>
		{{/if}}
			<form method ="POST" enctype="multipart/form-data" id = "formupload"  action ="/createevent">
		<div class="container-fluid"> 	
		<div class = "form-row">
		<div class="form-group col-md-6">
				<label for="event">Event Name</label>
				<input type="text" class="form-control" id="name" name ="name" placeholder="Enter Event name here" required />
			</div>
			<div class="form-group col-md-6">
				<label for="venue">Venue</label>
				<input type="text" class="form-control" id="venue" name ="venue" value="Enter Venue" required />
			</div>
			</div>
			<div class = "form-row">
			<div class="form-group col-md-6">
				<label for="startevent">Start Event</label>
				<input type="date" class="form-control" id="startdate" name ="start" value="Enter Start Date" required />
			</div>
			<div class="form-group col-md-6">
				<label for="startevent">Start Event</label>
				<input type="time" class="form-control" id="starttime" name ="starttime" value="Enter Start Time" required />
			</div>
			</div>
			<div class = "form-row">
			<div class="form-group col-md-6">
				<label for="startevent">Stop Event</label>
				<input type="date" class="form-control" id="startdate" name ="start" value="Enter Start Date" required />
			</div>
			<div class="form-group col-md-6">
				<label for="startevent">Stop Event</label>
				<input type="time" class="form-control" id="starttime" name ="starttime" value="Enter Start Time" required />
			</div>
			</div>
			<div class="form-group">
			<div id = "pic"></div>
				<label for="img">Product Image</label>
				<input type="file" class="form-control-file" id="Picture" name ="img" placeholder="Click here" required />
				</div><br>
	<div id = "fileerror" class = "alert alert-danger"></div> <div class = "alert alert-info" id = "progress"></div>
		</div>
		<!--
		<div class = "form-group">
		<img src = "" class = "img-fluid" id ="imagepic">
		</div>						-->
			<div class="form-group">
				<label for="description">Event Description</label>
				<textarea class="form-control" id="description" rows = "6" name ="description" placeholder="Enter description here"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Submit</button>
				<span id = "status"></status>
				<br><br>
			</div>
		
		</form>
	</div>
	
	
	<div class = "col-md-6">
		<h3 class = "h5 text-center text-success" id = "h5"><b>ADD NEW MESSAGE</b></h5>
		{{#if messagesuccess}}
		<div class = "alert alert-success">
		{{messagesuccess}}
		</div>
		{{/if}}
		<form method ="POST" enctype="multipart/form-data" id = "formupload"  action ="/newmessage">
		<div class="container-fluid"> 	
		<div class = "form-row">
		<div class="form-group col-md-6">
				<label for="event">Message Title</label>
				<input type="text" class="form-control" id="name" name ="messagetitle" placeholder="Enter Event Title here" required />
			</div>
			<div class="form-group col-md-6">
				<label for="venue">Minister</label>
				<input type="text" class="form-control" id="venue" name ="minister" value="Enter Minister's Name" required />
			</div>
			</div>
			
			<div class="form-group">
				<label for="startevent">Date Preached</label>
				<input type="date" class="form-control" id="date" name ="date" value="Enter Start Date" required />
			</div>
			<div class="form-group">
				<label for="startevent">Time Preached</label>
				<input type="time" class="form-control" id="time" name ="time" value="Enter Start Time" required />
			</div>
		
			<div class="form-group">
			<div id = "pic"></div>
				<label for="vid">Promo Video</label>
				<input type="file" class="form-control-file" id="vid" name ="vid" placeholder="Click here" required />
				</div><br>
	
		<!--
		<div class = "form-group">
		<img src = "" class = "img-fluid" id ="imagepic">
		</div>						-->
			<div class="form-group">
				<label for="description">Short Message</label>
				<textarea class="form-control" id="description" rows = "6" name ="description" placeholder="Enter description here"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Submit</button>
				<span id = "status"></status>
				<br><br>
			</div>
		
		</form>
	</div>
</div>
</div>
<br>
<div class = "row">
	<div class = "col-md-6">
	<h3 class = "h5 text-center text-success" id = "h5"><b>DEVOTIONAL</b></h5>
	<form method ="POST" action ="/adddevotional">
			<div class = "row">
			<div class="form-group col-md-6">
				<label for="product">Topic</label>
				<input type="text" class="form-control" id="topic" name ="topic" placeholder="Enter Topic" required />
			</div>
			<div class="form-group col-md-6">
				<label for="date">Date</label>
				<input type="date" class="form-control" id="topic" name ="date" placeholder="Enter Date" required />
			</div>
			</div>
			<div class="form-group">
				<label for="description">Message</label>
				<textarea class="form-control" id="description" cols = "15" rows = "8" name ="description" placeholder="Enter description here"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Submit</button><br><br>
			</div>
		</div>	
	</form>
	<div class = "col-md-6">
	<h3 class = "h5 text-center text-success" id = "h5"><b>AFFIRMATION</b></h5>
	<form method ="POST" action ="/addaffirmation">
			<div class = "row">
			<div class="form-group col-md-6">
				<label for="product">Topic</label>
				<input type="text" class="form-control" id="topic" name ="topic" placeholder="Enter Topic" required />
			</div>
			<div class="form-group col-md-6">
				<label for="date">Date</label>
				<input type="date" class="form-control" id="topic" name ="date" placeholder="Enter Date" required />
			</div>
			</div>
			<div class="form-group">
				<label for="description">Message</label>
				<textarea class="form-control" id="description" cols = "15" rows = "8" name ="description" placeholder="Enter description here"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Submit</button><br><br>
			</div>
		</div>	
	</form>
	</div>

<div class = "row">
	<div class = "col-md-6">
	<form method ="POST" action ="/addLWnews">
			<div class = "row">
			<div class="form-group col-md-4">
				<label for="product">Topic</label>
				<input type="text" class="form-control" id="topic" name ="topic" placeholder="Enter Topic" required />
			</div>
			<div class="form-group col-md-3">
				<label for="date">Date</label>
				<input type="date" class="form-control" id="topic" name ="date" placeholder="Enter Date" required />
			</div>
			<div class="form-group col-md-5">
				<label for="link">Link</label>
				<input type="text" class="form-control" id="link" name ="link" placeholder="Enter Link" required />
			</div>
			</div>
			<div class="form-group">
				<label for="description">Message</label>
				<textarea class="form-control" id="description" cols = "15" rows = "8" name ="description" placeholder="Enter description here"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Submit</button><br><br>
			</div>
		</div>	
	</form>
	</div>
	<div class = "col-md-6">
	</div>
</div>
	
	
	</div>
